---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import iconImg from '../assets/icon.svg';

import ninoImg from '../assets/heroes/nino.png';
import ivanImg from '../assets/heroes/ivan.png';
---

<Layout title="Company heroes">
    <section class="mx-auto mb-20 max-w-4xl">
        <div class="text-center text-zinc-800">
            <Image 
                src={iconImg} 
                alt="Services"  
                width={100} 
                height={75} 
                class="block mb-2 mx-auto max-w-full" 
            />
            <h1 class="text-4xl lg:text-5xl font-bold">Company heroes</h1>
        </div>
    </section>
    <section class="mx-auto mb-20 max-w-5xl grid md:grid-cols-2 gap-10">
        <div class="border border-bayern-medium text-bayern-medium p-5 text-center rounded-lg">
            <h2 class="mb-5 border-b border-bayern-dark">Antonino</h2>
            <Image src={ninoImg} width={450} height={450} alt="Antonino" class="block mx-auto mb-4 max-w-full rounded-xl" />
            <p class="quote">
                A financial and legal hero is someone who not only possesses exceptional knowledge and skills in the fields of finance and law, but also uses them to fight for justice and make a positive difference in the world. He does not stop at difficult tasks.
            </p>
        </div>
        <div class="border border-bayern-medium text-bayern-medium p-5 text-center rounded-lg">
            <h2 class="mb-5 border-b border-bayern-dark">Ivan</h2>
            <Image src={ivanImg} width={450} height={450} alt="Ivan" class="block mx-auto mb-4 max-w-full rounded-xl" />
            <p class="quote">
                Being a software hero means being much more than just a good programmer. This is a person who not only knows the language of code, but also uses it to create, solve problems and have a positive impact on the world. A software hero is a visionary, code ninja and problem solver all at once.
            </p>
        </div>
    </section>
</Layout>

<style scoped>
    @reference "../styles/global.css";
    
    .quote {
        quotes: auto;
        @apply text-center text-bayern-dark font-mono text-lg;
    }

    .quote::before {
        @apply text-bayern-light;
        content: "“";
    }
    .quote::after {
        @apply text-bayern-light;
       content: "”";
    }
</style>