---
import { Image } from 'astro:assets';

import iconImg from '../assets/icon.svg';

import Layout from '../layouts/Layout.astro';
import Feature from '../components/Feature.astro';
import Counter from '../components/Counter.astro';
import Heading from '../components/Heading.astro';

import homeImg from '../assets/home.jpeg';
---

<!--
slogan: Built for Growth. Trusted by Visionaries.
-->
<Layout title="Home">
    <section class="my-15 mx-auto max-w-6xl">
        <div class="flex flex-col-reverse md:flex-row gap-3 align-middle justify-between items-center">
            <div class="flex-1">
                <h2 class="mb-5 text-center font-bold text-4xl md:text-left lg:text-5xl leading-relaxed">
                    Accelerate Innovation with Reliable, scalable, and future-proofed software solutions                    
                </h2>
                <h3 class="mt-3 text-center font-medium text-2xl md:text-left leading-relaxed">
                    We provide digital transformation, custom software, and an expert crew that redefine your expectations.
                </h3>
            </div>
            <Image src={homeImg} alt="Juverion hero" class="brightness-100 opacity-80 mx-auto flex-none w-48 h-48 md:w-96 md:h-96 rounded-full shadow-xl" />
        </div>
    </section>

    <section class="mx-auto my-20 max-w-6xl">
        <Heading value="What we do" />
        <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Feature icon="mdi:cloud-braces" title="Digital transformation">
                We create tech that helps businesses adapt, transform, and thrive in the digital age, 
                like custom software, cloud-native applications, data warehouses, analytics tools, and more.
            </Feature>
            <Feature icon="mdi:cogs" title="Automation software">
                We build custom solutions that let you eliminate repetitive manual tasks, 
                minimise human error, reduce costs, improve efficiency and productivity, ease scaling up, and more.
            </Feature>
            <Feature icon="mdi:devices" title="Product development">
                We plan, design, develop, and maintain your MVPs, MLPs, SaaS, web, mobile, 
                and desktop apps and advise on the tech stack and core features you need to dominate your niche.
            </Feature>
            <Feature icon="mdi:hexagon-multiple-outline" title="Short-term IT Support">
                We boost your in-house crew with a single fill-in software engineer or managed teams 
                so you can carry out essential projects, meet your deadlines, or close a skill gap.
            </Feature>
        </div>
    </section>

    <section class="mx-auto my-64 max-w-5xl">
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
            <Counter count="10+" title="Years of experience" />
            <Counter count="10+" title="Business partners" />
            <Counter count="1M+" title="Lines of code" />
        </div>
    </section>

    <section class="mx-auto mb-40 max-w-6xl">
        <Heading value="Technologies backed for productivity, scalability and security." />
        <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Feature icon="java" title="Java">
                Java is a reliable and scalable programming language, ideal for creating powerful and dynamic web applications. Its maturity, extensive community, and rich ecosystem of tools ensure high performance, security, and easy maintenance. 
                Choose Java for your project to benefit from a time-proven platform capable of meeting complex requirements.
            </Feature>
            <Feature icon="scala" title="Scala">
                Scala is a powerful, modern programming language that offers the best of functional and object-oriented programming. Combining conciseness and expressiveness, Scala lets you write clean, scalable, and reliable code.
            </Feature>
            <Feature icon="kotlin" title="Kotlin">
                Just a modern Java. Here are placed the best practicles of Java, Scala and Groovy.
            </Feature>
            <Feature icon="docker" title="Docker">
                Docker is a set of PaaS products that use 
                OS-level virtualization to deliver software in packages called containers. The service has both free and premium tiers.
            </Feature>
        </div>
    </section>
</Layout>