---
import { Image } from 'astro:assets';
//import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
---

<section class="my-24">
    <div class="container">
        <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
            {!reverseImg ? <Image src={imgSrc} alt="image" class="rounded-lg" /> : ''}
            <div class="space-content flex flex-col justify-center">
                <slot />
            </div>
            {reverseImg ? <Image src={imgSrc} alt="image" class="rounded-lg" /> : ''}
        </div>
    </div>
</section>