---
const { count, title } = Astro.props;
---

<div>
    <p>{count}</p>
    <p>{title}</p>
</div>

<style>
    div {
        @apply text-center;
    }

    div > p:first-child {
        @apply text-6xl font-bold text-bayern-light;
    }

    div > p {
        @apply text-4xl font-semibold;
    }
</style>