---
import { Icon } from "astro-icon/components";

const { title, icon } = Astro.props;
---

<div class="feature flex flex-col gap-4">
    <Icon name={icon} />
    <div class="text-left">
        <h3 class="mb-2 text-2xl font-medium">{title}</h3>
        <slot />
    </div>
</div>

<style scoped>
    @reference "../styles/global.css";

    .feature {
        @apply relative;
        @apply w-full;
        @apply p-8;
    }

    .feature > * {
        position: relative;
        z-index: 2;
    }

    .feature::before,
    .feature::after {
        content: "";
        position: absolute;
    }

    .feature::before {
        inset: 0;
        @apply bg-slate-50;
        @apply border-2 border-bayern-dark;
        @apply rounded-2xl;
        box-shadow: 0 0 0 6px white;
        z-index: 1;
    }

    .feature::after {
        @apply rounded-2xl;
        @apply bg-bayern-light;
        inset: 1rem -0.85rem -0.85rem 1rem;
        z-index: 0;
    }

    :global(.feature [data-icon]) {
        @apply w-16 h-16;
        @apply text-bayern-light;
    }
</style>
