---
import { Image } from 'astro:assets'

import logoImg from '../assets/styria.svg'
---

<header class="flex items-center gap-4 bg-white shadow-md">
    <a href="/" class="block flex-none">
        <Image src={logoImg} alt="Styria logo" class="w-40 h-40" />
    </a>
    <nav class="flex flex-1 justify-end gap-4">
        <a href="/">Home</a>
        <a href="/services">Services</a>
    </nav>
</header>