---
import { Image } from 'astro:assets';

import iconImg from '../assets/icon.svg'
---

<section>
    <div>
        <div class="flex-1">
            <h1 class="md:text-left lg:text-5xl">
                We provide digital transformation, custom software, and an expert crew that redefine your expectations.
            </h1>
        </div>
        <Image src={iconImg} alt="Juverion hero" class="mx-auto flex-none max-w-sm" />
    </div>
</section>

<style scoped>
    @reference "../styles/global.css";

    section {
        @apply my-20 mx-auto max-w-6xl;
    }

    section > div {
        @apply flex flex-col-reverse md:flex-row gap-3;
    }

    h1 {
        @apply text-center text-4xl leading-relaxed;
    }
</style>