---
import { Image } from 'astro:assets'

import Layout from '../../layouts/Layout.astro'
import Feature from '../../components/Feature.astro'
import Counter from '../../components/Counter.astro'
import Heading from '../../components/Heading.astro'

import iconImg from '../../assets/icon.svg';
---

<Layout title="1H Software produts">
    <section class="mx-auto mb-20 max-w-4xl">
        <div class="text-center text-zinc-800">
            <Image 
                src={iconImg} 
                alt="Services"  
                width={100} 
                height={75} 
                class="block mb-2 mx-auto max-w-full" 
            />
            <h1 class="text-4xl lg:text-5xl font-bold">1H Software produts</h1>
            <article class="text-base text-justify font-light mt-5 leading-relaxed">
                <p>
                    The development of the 1H products for server management started as an in-house project for server management improvement 
                    by SiteGround hosting company in 2007. 
                    The aim was to address the most common problems the company experienced in the administration of its servers. 
                    The results we achieved were so impressive that we decided to expand this in-house project to an independent business venture.
                </p>
                <p>
                    The first product released for the use of the company was a version of the monitoring system that is now the heart of 1H Guardian. 
                    One year later the whole set of tools was already in use. Now, two years later, after all 
                    SiteGround servers have been successfully managed for a whole year with the 
                    help of our unique set of management tools, we are happy to present it to the general public.
                </p>
            </article>
        </div>
    </section>
    <section class="mx-auto mt-20 max-w-6xl">
        <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
            <Feature icon="mdi:cloud-braces" title="HIVE">
With 1H Hive you will be able to manage your shared servers in a way you never imagined possible! This unique software allows you to isolate server users from each other and to limit and monitor their resource usage. With 1H Hive you will easily increase the number of websites hosted on one server and will achieve higher business revenue!
            </Feature>
            <Feature icon="mdi:cogs" title="Guardian Server Monitoring">
                1H Guardian is the first server monitoring and reaction system designed specifically for the needs of web hosting providers. With 1H Guardian you will not simply get notified when your server is overloaded or when a service running on your machine goes down. Instead, most issues will be prevented or fixed by the tool without human intervention in less than 1 second!
            </Feature>
            <Feature icon="mdi:devices" title="HALK">
                1H Hawk is an extremely lightweight system for detecting brute force attacks against different services running on a server. It is а highly effective intrusion detection and prevention system, specifically designed to use as little resources as possible. It also provides detailed statistics about failed login attempts on your server.
            </Feature>
            <Feature icon="mdi:hexagon-multiple-outline" title="Digits Statistics Package">
                1H Digits allows web hosts to have one-click access to information about space and traffic usage on their servers. The detailed information helps web hosts decide what number of users can be kept on each server by identifying server users with abnormally high disk usage and periods with abnormally high network traffic.
            </Feature>
            <Feature icon="mdi:hexagon-multiple-outline" title="1H Data Visualization">
                Each of the 1H tools generates easily-readable graphical and numerical data. It does not matter if you use one tool on a single server or you have thousands of servers with different combinations of 1H tools installed on them. Our data visualization system allows you to see all the important information generated from the 1H software at a glance.
            </Feature>
        </div>
    </section>
</Layout>